<div class="invite-form">
<h2>Invite Voters</h2>
<!-- controller: 'votes', action: 'invite' -->
<%= form_tag invite_vote_path do %>
<%= text_area_tag :invite_emails, nil, rows: 5, placeholder: "Enter e-mails separated by commas" %>


<button type="submit" classs="button">
  <%= icon('mail-forward', 'Send Invites') %>
</button>
<% end %>
</div>