.vote-footer
  = link_to icon('eye', 'View'), vote_path(object)
  - if current_user?(object.creator)
    = link_to icon("envelope-o", "Invite"), invite_vote_path(object)
    = link_to icon('trash-o', 'Delete'), object, method: :delete, data: { confirm: 'Are you sure?' }
  - if object.finished?
    = link_to icon('bar-chart','Results'), vote_answers_path(object)
