.questions
  %ul
    - @votes_presenter.each do |vote|
      %li.vote-listing
        = render "vote_ribbon", object: vote
        = render "vote_question", object: vote
        = render "vote_footer", object: vote
      %span.post-time
        Posted #{time_ago_in_words(vote.created_at)} ago
