.about
  %h2 About
  %hr/
  %br/
  %ul.sample-qs
    %li "Okay if I bring my dog to the beach house?"
    %li "Want to get jerseys for our kickball team?  'Only' $50 per person."
    %li "Does this shirt make me look flabby?"
    %li "What did you guys think of business pitch?"
    %li "Can I invite my brother-in-law to our fantasty football league?"
    %li "Can I bring my boyfriend to the BBQ?"
    %li "Go to the beer festival instead of study session this weekend?"
    %li "What do you think of this project?"
  %br/
  %p
    Get these type of questions out of your email chains and into Blindee for faster,
    and more genuine responses.
  %p I hope you enjoy Blindee, and remember not to take the voting too seriously.
  %br/
  %h4 The Basics
  %br/
  %ul.default-ul
    %li Max invitiations per Blindee Vote: 30
    %li Max choices per Blindee Vote: 5
    %li Blindee votes require 75% participate rate before results can be viewed.
    %li Only voters can view results.  So if you were invited, but didn't vote, you will not see results.
    %li After 2 days, results can been seen by voters regardless of particpation rate.
  %br/
  %h4 Contributors
  %br/
  %p Thank you to Saphiroko for the awesome owl icons.
  %p This website is maintained by @jberczel.  Feel free to tweet questions or suggestions.
  %br/
  %br/
