<h1>home</h1>

<h3>Welcome to Blindy, a website for creating blind vote systems.</h3>
<p><%= link_to "View All Voting", votes_path %></p>

<h3>Your Questions</h3>
<% if @created_votes %>
<% @created_votes.each do |v| %>
  <p><%= link_to v.question, vote_path(v) %></p>
<% end %>
<% end %>

<h3>Invitations</h3>
<% if @invitations %>
<% @invitations.each do |i| %> 
  <span><%= link_to i.vote.question, vote_path(i.vote) %></span>
  <span>(sent by: <%= i.sender.email %>)</span>
<% end %>
<% end %>



