%section.results
  %h1 The results are in.
  %h3= @vote_presenter.participation_rate

  = render 'chart.js'

  %canvas.myChart

  %h4= icon('comment', 'Comments')
  - @vote_presenter.comments.each do |comment|
    %blockquote= comment
