<section class="results">
  <h1>The results are in.</h1>

  <% content_for :javascript do %>
      <%= render 'chart.js' %>
  <% end %>

  <canvas class="myChart"></canvas>

  <!-- <p>count = <%= @results.class %></p> -->
  <p><%= link_to 'Back', votes_path %></p>
</section>
