.answers {
  @include outer-container;
}

.results {
  @include span-columns(4);
  @include shift(4);


  h1 {
    margin-bottom: 1rem;
    text-align: center;
  }

  h4 {
    margin-top: 0.5rem;
    margin-left: 1rem;
  }

  blockquote {
    @include margin(1em 0 0 1em);

  }

  @include media($tablet) {
      @include span-columns(4);
      @include shift(2);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 0 1em;
    }
}



