.answers {
  @include outer-container;
}

.results {
  @include span-columns(6);
  @include shift(3);


  h1 {

    text-align: center;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
  }

  h4 {
    margin-top: 0.5rem;
    margin-left: 1rem;
  }

  blockquote {
    @include margin(0.5em 0 0 1em);
    border-color: $light-purple;
    font-style: italic;
    font-size: 1.2em;

  }

  @include media($tablet) {
      @include span-columns(6);
      @include shift(1);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 0 1em;
    }
}



