@charset 'utf-8';

@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';

@import 'devise';
@import 'static-pages';
@import 'votes';


#sign_in {
  float: right;
}

#flash {
  clear: right;
  margin-top: 2em;
}


