@charset "utf-8";

@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';

@import "font-awesome-sprockets";
@import "font-awesome";

@import 'icheck/square/_all';


@import 'header';
@import 'tabs';
@import 'devise';
@import 'static-pages';
@import 'votes';
@import 'answers';



#sign_in {
  float: right;
  font-size: 0.8em;

}

#flash {
  //clear: right;
  //margin-bottom: 0;
  //@include span-columns(4);
  //@include shift(4);
}

.error {
  color: red;
  font-size: 0.8em;
  padding-left: 0.5rem;
}


