@charset "utf-8";

@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';

@import 'devise';
@import 'static-pages';
@import 'votes';
@import 'answers';


#sign_in {
  float: right;
  margin-bottom: 1em;
}

#flash {
  clear: right;
}


