.static_pages {
  @include outer-container;
  @include media($mobile) { padding: 0.5em; }

  .header {
    @include span-columns(4);
    @include shift(4);
    @include media($tablet) {
    @include span-columns(4);
    @include shift(2);
    }

    @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
    padding: 0 1em;
    } 
    
    opacity: .7;
    margin-top: 60px;
  }

  .title {
    @include span-columns(4);
    @include shift(4);
    text-align: center;
    font-weight: 300;
  }

  h3 {
    font-weight: 300;
    color: $base-font-color;
    //clear: right;
    margin: 1rem 0;
  }

  hr {
    @include margin(0em null 0.5em null);
  }

  .questions, .invites, .nav-links {
    @include span-columns(4 of 8);
    @include shift(2 of 8);
    @include media($tablet) {
      @include span-columns(6 of 8);
      @include shift(1 of 8);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 0;
    }


  }

  .contact, .about {
   @include span-columns(6);
    @include shift(3);
    @include media($tablet) {
      @include span-columns(6);
      @include shift(1);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 0 1em;
    }
    background: white;
    @include border-top-radius(15px);
    @include border-bottom-radius(15px);
    @include border-left-radius(15px);
    @include border-right-radius(15px);
    margin-top: 1em;
    padding: 1em;
    box-shadow: 0 0 3px 3px white;

  }

  .about {

    h2 { font-weight: 300; }
    .sample-qs {
      color: $dark-blue;
      font-style: italic;
      font-weight: 700;   
    }
    li { margin-bottom: 0.5em; }
  }

  .vote-listing {


    padding: 10px;

    //border-top: 1px solid #e8e8e8;
    //border: 2px solid $dark-blue;
    position: relative;
    background: white;
    @include border-top-radius(15px);
    @include border-bottom-radius(15px);
    @include border-left-radius(15px);
    @include border-right-radius(15px);
    margin-top: 1em;
    @include clearfix;

    box-shadow: 0 0 3px 3px white;

  .question {
      a {
        font-size: 1.5em;
        color: $base-font-color;
        line-height: 0.75em;

        &:hover {
          color: darken($base-font-color, 30%);
        }
      }
      float: left;
    }


  }

  .post-time {
    padding: 0 10px;
    font-size: 0.8em;

  }

  .vote-count {
    font-size: 0.8em;

  }

  .button {
    float: right;
    padding: 8px;
  }

  .vote-footer {
    clear: both;
    font-size: 0.8em;

    &:hover { 
      a { color: $dark-blue; }
    }

    a { 
      color: $light-blue;
      font-weight: 500;
      padding-right: 0.5em;

      &:hover {
        text-decoration: underline;

      }
    }

  }

  #flash {
  //clear: right;
  //margin-bottom: 0;
    @include span-columns(4);
    @include shift(4);
    @include media($tablet) {
      @include span-columns(4);
      @include shift(2);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 0 1em;
    }
    // need margin again undearneath tabs
    //#flash_notice, #flash_success,
    //#flash_alert {
    //  margin-bottom: 0;
    //}
  }

  .ribbon-wrapper {
    $ribbon-size: 85px;
    $ribbon-background: transparentize($dark-blue, .30);
    @include size($ribbon-size);
    overflow: hidden;
    position: absolute;
    top: -4px;
    right: -4px;

    .ribbon {
      font-size: .8em;
      font-weight: 800;
      text-align: center;
      @include transform(rotate(45deg));
      position: relative;
      padding: 2px 7px;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: $ribbon-background;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
      a {
        color: white;
        font-size: 1em;
      }
    }
  }

  small {
    font-size: 0.8em;
    font-weight: bold;
  }
  
  // toggle with jQuery
  //.invite-link, .my-link {
  //  i, small { color: $dark-blue }
  //}



}

