.votes, .invites {
  @include outer-container;
  @include media($mobile) { padding: 0.5em; }


  hr {
    @include margin(0em null 0.5em null);
  }

  ul {
    margin-bottom: .75em;
  }

  .survey {
    @include span-columns(4);
    @include shift(4);

    @include media($tablet) {
      @include span-columns(4);
      @include shift(2);
      @include margin(1em null 2em null);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 2em 1em;
    }
    
    background: $light-purple;
    color: $base-font-color;
    @include border-top-radius(10px);
    @include border-bottom-radius(10px);
    @include border-left-radius(10px);
    @include border-right-radius(10px);

    box-shadow: 0 0 3px 3px $light-purple;
    padding: 1em;

    label {
      font-weight: normal;
    }

    textarea {
      background-color: $base-background-color;
      &:focus {
        border-color: $dark-purple; 
        box-shadow: $dark-purple;
      }

    }

    .button {
      background-color: $dark-purple;
    }

    h4 {
      margin-top: 0.5em;
    }

    .question-details {
      margin-top: 0.5em;
      border: 1px solid $light-gray;
      background-color: $base-background-color;
      @include border-top-radius(10px);
      @include border-bottom-radius(10px);
      @include border-left-radius(10px);
      @include border-right-radius(10px);
      padding: 0.5em;
    }

    .choices-header { padding-left: 8px; }

    .radios { 
      background: $base-background-color;
      padding: 0.5em;
      @include border-top-radius(3px);
      @include border-bottom-radius(3px);
      @include border-left-radius(3px);
      @include border-right-radius(3px);
       }
  }
  
  .detail {
    @include span-columns(3);
    @include omega();
    @include media($tablet) {
      @include span-columns(4);
      @include shift(2);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 2em 1em;
    }
     background: $light-blonde;
    box-shadow: 0 0 3px 3px $light-blonde;
    color: $base-font-color;
        @include border-top-radius(10px);
    @include border-bottom-radius(10px);
    @include border-left-radius(10px);
    @include border-right-radius(10px);
    padding: 1em;
    .button {
      background-color: $dark-blonde;
    }

  }


  .nav-links {
    @extend .question;
    text-align: center;
    margin-top: 1em;
  }
  
  // what is this for again?
  .vote-form {
    @include span-columns(4);
    @include shift(4);
    
    
    .button, input[type="submit"] {
      @include span-columns(4 of 4);
    }

    @include media($tablet) {
      @include span-columns(4);
      @include shift(2);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 0 1em;
    }

    h1 {
      margin-bottom: 0.5rem;
    }

    label {
      display: inline;
      font-weight: 500;
      color: $base-font-color;
    }


    .button, .vote_public {
      @include span-columns(2 of 4);  
    }
  }

  .invite-form {
    @include span-columns(4);
    @include shift(4);
    @include media($tablet) {
      @include span-columns(4);
      @include shift(2);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 0 1em;
    }

    h2 {
      margin-bottom: 0.5rem;
    }

    .button {
      @include span-columns(4 of 4);
    }
  }

  #flash {
  @include span-columns(4);
  @include shift(4);
  @include media($tablet) {
      @include span-columns(4);
      @include shift(2);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 0 1em;
    }
  }

  .vote-list {
    @include span-columns(4);
    @include shift(4);

    @include media($tablet) {
      @include span-columns(6);
      @include shift(1);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 0 1em;
    }

    .status { text-align: center; }
  
    

  }

  small {
    font-size: 0.8em;
  }

  .vote-listing {


    padding: 10px;

    //border-top: 1px solid #e8e8e8;
    //border: 2px solid $dark-blue;
    position: relative;
    background: white;
    @include border-top-radius(15px);
    @include border-bottom-radius(15px);
    @include border-left-radius(15px);
    @include border-right-radius(15px);
    margin-top: 1em;
    @include clearfix;

    box-shadow: 0 0 3px 3px white;

  .question {
      a {
        font-size: 1.5em;
        color: $base-font-color;
        line-height: 0.75em;

        &:hover {
          color: darken($base-font-color, 30%);
        }
      }
      float: left;

      .vote-count {
        font-size: 0.8em;
      }
    }

  .vote-footer {
    clear: both;
    font-size: 0.8em;

    &:hover { 
      a { color: $dark-blue; }
    }

    a { 
      color: $light-blue;
      font-weight: 500;
      padding-right: 0.5em;

      &:hover {
        text-decoration: underline;

      }
    }
  }

  }

  .post-time {
    padding: 0 10px;
    font-size: 0.8em;

  }

  


}



