.votes, .invites {
  @include outer-container;
  @include media($mobile) { padding: 0.5em; }


  hr {
    @include margin(0em null 0.5em null);
  }

  ul {
    margin-bottom: .75em;
  }

  .survey {
    @include span-columns(4);
    @include shift(4);

    @include media($tablet) {
      @include span-columns(4);
      @include shift(2);
      @include margin(1em null 2em null);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 2em 1em;
    }
    
    background: $light-purple;
    color: $base-font-color;
    @include border-top-radius(10px);
    @include border-bottom-radius(10px);
    @include border-left-radius(10px);
    @include border-right-radius(10px);

    box-shadow: 0 0 3px 3px $light-purple;
    padding: 1em;

    label {
      font-weight: normal;
    }

    textarea {
      &:focus {
        border-color: $dark-purple;
        box-shadow: $dark-purple;
      }

    }

    .button {
      background-color: $dark-purple;
    }

    h4 {
      margin-top: 0.5em;
    }

    .question-details {
      margin-top: 0.5em;
      border: 1px solid $light-gray;
      @include border-top-radius(10px);
      @include border-bottom-radius(10px);
      @include border-left-radius(10px);
      @include border-right-radius(10px);
      padding: 0.5em;
    }
  }
  
  .detail {
    @include span-columns(3);
    @include omega();
    @include media($tablet) {
      @include span-columns(4);
      @include shift(2);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 2em 1em;
    }
     background: $light-blonde;
    box-shadow: 0 0 3px 3px $light-blonde;
    color: $base-font-color;
        @include border-top-radius(10px);
    @include border-bottom-radius(10px);
    @include border-left-radius(10px);
    @include border-right-radius(10px);
    padding: 1em;
    .button {
      background-color: $dark-blonde;
    }

  }


  .nav-links {
    @extend .question;
    text-align: center;
    margin-top: 1em;
  }
  
  // what is this for again?
  .vote-form {
    @include span-columns(4);
    @include shift(4);
    
    
    input[type="submit"] {
      @include span-columns(4 of 4);
    }

    @include media($tablet) {
      @include span-columns(4);
      @include shift(2);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 0 1em;
    }

    h1 {
      margin-bottom: 0.5rem;
    }
  }

  .invite-form {
    @include span-columns(4);
    @include shift(4);
    @include media($tablet) {
      @include span-columns(4);
      @include shift(2);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 0 1em;
    }

    h2 {
      margin-bottom: 0.5rem;
    }

    .button {
      @include span-columns(4 of 4);
    }
  }

  #flash {
  @include span-columns(4);
  @include shift(4);
  @include media($tablet) {
      @include span-columns(4);
      @include shift(2);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 0 1em;
    }
  }

  .vote-list {
    @include span-columns(5);
    @include shift(4);

    @include media($tablet) {
      @include span-columns(6);
      @include shift(1);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
      padding: 0 1em;
    }

    .status { text-align: center; }
  }

  small {
    font-size: 0.8em;
  }

}



