<div class="invites">
  <h4><%= icon('users') %> invites (<%= @invites.count %>)</h4>
  <hr>
  <p><%= @invites.map{ |i| i.email }.join(", ") %></p>

  <% if current_user?(@vote.creator) && !@vote.finished? %>
    <%= link_to icon('plus', 'Add Invites'), invite_vote_path, :class => "button" %>
  <% end %>
</div>