
<div class="vote-list">
<h2>Listing votes</h2>
<hr>
<h4>This section will eventually be for public votes, where any blindee user can vote.</h4>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Creator</th>
      <th class="status">Status</th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= link_to vote.question, vote %></td>
        <td><%= vote.creator.email %></td>
        <td class="status"><%= vote.answers.count %> of <%= vote.invites.count + 1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>